# === Vim / Neovim ===
# Swap files
*.swp
*.swo
# Backup files
*~
# Undo files
*.un~
*.tmp
# Session and view files
Session.vim
*.viminf

__pycache__/
*.pyc
.env
*.log
.vscode/
.idea/
.terraform/
terraform.tfstate*
*.pem
*.key
.DS_Store

